.logo img {
  height: 60px;
  width: 60px;
  border: 2px solid;
  border-radius: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
}
body {
  float: left;
  font-family: "Montserrat", sans-serif;
  background-color: #2c2c2c;
}
header {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}
ul {
  display: flex;
  list-style-type: none;
}
ul li a {
  margin: 0 40px;
  border: 2px solid;
  padding: 0px 40px;
  text-decoration: none;
  border-radius: 50px;
}
.SignUp {
  background-color: white;
  color: black;
}
.SignUp:hover {
  background-color: black;
  color: white;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 150px;
}
.contentleft {
  flex: 1;
}
.contentmid {
  flex: 2;
}
.contentright {
  flex: 1;
}
.btn{
    padding: 15px 30px;
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
}
